* {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    color: $font-color;
}

h1 {
    font-family: 'Bakbak One', cursive;
    font-weight: bold;
    margin: 3rem 0 3rem 5rem;
    color: $font-color-dark;
}

p {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
