/* Background colours */
$background-color-light: #fff;
$background-color-dark: rgb(24, 24, 24);

/* Text colours */
$font-color: #444;
$font-color-dark: rgb(24, 24, 24);
$font-color-light: #fff;

/* Accent colour */
$accent-color: #40798c;

// main-font-size:
// main-line-height: 
// combined: main-font-size * main-line-height;
